SECRET_KEY=tu_secret_key_aqui
DEBUG=True

# Base de Datos
DB_NAME=le metes el nombre de tu base de datos
DB_USER=tu usuario en postgres
DB_PASSWORD=la contraseña de tu usuario en postgres
# Cambiamos localhost por la dirección especial de Docker:
# DB_HOST=host.docker.internal
DB_HOST=localhost si no usas Docker
DB_PORT=el puerto de la base de datos 5433

# Red
ALLOWED_HOSTS=los hosts permitidos separados por comas, por ejemplo: localhost,127.0.0.1
